$lineBoxWidth: 75px;
$lineBoxHeight: 105px;
$hLineBoxSpacing: 10px;
$vLineBoxSpacing: 20px;
$hStationBoxSpacing: 30px;
$vStationBoxSpacing: 30px;

@import "./functions";

@import "./mixins";

$saketeTop: $vStationBoxSpacing - $vLineBoxSpacing - $vStationBoxSpacing;
$saketeLeft: $hStationBoxSpacing;
$saketeWidth: stationWidth(1);
$saketeHeight: stationHeight(1);
#sakete {
  @include station();

  left: $saketeLeft;
  top: $saketeTop;
  width: $saketeWidth;
  height: $saketeHeight;

  #sakete-nw1 {
    @include line();
    @include lineBoxPosition(1, 1);
  }
  #sakete-nw1-h {
    @include hLine(lineBoxTop(1, 1), lineBoxLeft(1, 1), $lineBoxHeight);
    @include hr();

    width: hLineWidth(1);
  }
}

$akangbaTop: $vStationBoxSpacing + $vLineBoxSpacing + $lineBoxHeight;
$akangbaLeft: $hStationBoxSpacing;
$akangbaWidth: stationWidth(1);
$akangbaHeight: stationHeight(2);
#akangba {
  @include station();

  left: $akangbaLeft;
  top: $akangbaTop;
  width: $akangbaWidth;
  height: $akangbaHeight;

  #akangba-w3l {
    @include line();
    @include lineBoxPosition(1, 1);
  }
  #akangba-w4l {
    @include line();
    @include lineBoxPosition(2, 1);
  }
  #akangba-w3l-h {
    @include hLine(lineBoxTop(1, 1), lineBoxLeft(1, 1), $lineBoxHeight);
    @include hr();

    width: hLineWidth(1);
  }
  #akangba-w4l-h {
    @include hLine(lineBoxTop(2, 1), lineBoxLeft(2, 1), $lineBoxHeight);
    @include hr();

    width: hLineWidth(1);
  }
}

$okearoWidth: stationWidth(1);
$okearoHeight: stationHeight(4);
$ikeja-westWidth: stationWidth(4);
$ikeja-westHeight: stationHeight(4);
$ikeja-westLeft: ($hStationBoxSpacing * 2) + $okearoWidth;

#ikeja-west {
  @include station();

  left: $ikeja-westLeft;
  top: $vStationBoxSpacing;
  width: $ikeja-westWidth;
  height: $ikeja-westHeight;
  #ikejaW-nw1 {
    @include line();
    @include lineBoxPosition(1, 1);
  }
  #ikejaW-r1w {
    @include line();
    @include lineBoxPosition(1, 2);
  }
  #ikejaW-h1w {
    @include line();
    @include lineBoxPosition(1, 3);
  }
  #ikejaW-m5w {
    @include line();
    @include lineBoxPosition(1, 4);
  }
  #ikejaW-w3l {
    @include line();
    @include lineBoxPosition(2, 1);
  }
  #ikejaW-w4l {
    @include line();
    @include lineBoxPosition(3, 1);
  }
  #ikejaW-k7w {
    @include line();
    @include lineBoxPosition(4, 1);
  }
  #ikejaW-k7w-v {
    @include vLine(lineBoxTop(4, 1), lineBoxLeft(4, 1), $lineBoxHeight);
    @include vSpan();

    height: vLineHeight(1);

    #ikejaW-k7w-v-arrow-down {
      @include vArrow(vLineHeight(1));
    }
    #ikejaW-k7w-v-arrow-up {
      @include vArrow(vLineHeight(1));
    }

    #ikejaW-k7w-v-double-arrow {
      @include vDArrow(vLineHeight(1));
    }
  }

  #ikejaW-k8w {
    @include line();
    @include lineBoxPosition(4, 2);
  }
  #ikejaW-k8w-v {
    @include vLine(lineBoxTop(4, 2), lineBoxLeft(4, 2), $lineBoxHeight);
    @include vSpan();

    height: vLineHeight(2);
  }

  #ikejaW-n6w {
    @include line();
    @include lineBoxPosition(4, 3);
  }
  #ikejaW-n6w-h {
    @include hLine(lineBoxTop(4, 3), lineBoxLeft(4, 3), $lineBoxHeight);
    @include hr();

    width: $lineBoxWidth/3;
  }
  #ikejaW-n6w-v {
    left: lineBoxLeft(4, 3) + $lineBoxWidth + ($lineBoxWidth/3);
    top: lineBoxTop(4, 3) + ($lineBoxHeight/2) + 9;
    @include vSpan();

    height: vLineHeight(6);
  }
}

$okearoTop: ($vStationBoxSpacing * 2) + $ikeja-westHeight;
#okearo {
  @include station();

  top: $okearoTop;
  left: $hStationBoxSpacing;
  width: $okearoWidth;
  height: $okearoHeight;
  #okearo-k7w {
    @include line();
    @include lineBoxPosition(1, 1);
  }
  #okearo-k7w-h {
    @include hLine(lineBoxTop(1, 1), lineBoxLeft(1, 1), $lineBoxHeight);
    @include hr();

    width: hLineWidth(1);
  }
  #okearo-k7w-h-arrow-right {
    @include hArrow(hLineWidth(1));

    top: lineBoxTop(1, 1) + $lineBoxHeight/2;
  }
  /*#okearo-k7w-h-arrow-left{
        @include hArrow(hLineWidth(1));
    }*/
  #okearo-k7w-h-double-arrow {
    @include hDArrow(hLineWidth(1));

    top: lineBoxTop(1, 1) + $lineBoxHeight/2;
  }
  #okearo-k8w {
    @include line();
    @include lineBoxPosition(2, 1);
  }
  #okearo-k8w-h {
    @include hLine(lineBoxTop(2, 1), lineBoxLeft(2, 1), $lineBoxHeight);
    @include hr();

    width: hLineWidth(2);
  }
  #okearo-n8k {
    @include line();
    @include lineBoxPosition(3, 1);
  }

  #okearo-n7k {
    @include line();
    @include lineBoxPosition(4, 1);
  }

  #okearo-n8k-h {
    @include hLine(lineBoxTop(3, 1), lineBoxLeft(3, 1), $lineBoxHeight);
    @include hr();

    width: hLineWidth(3);
  }

  #okearo-n7k-h {
    @include hLine(lineBoxTop(4, 1), lineBoxLeft(4, 1), $lineBoxHeight);
    @include hr();

    width: hLineWidth(2);
  }
}

$ajahTop: ($vStationBoxSpacing) + $okearoTop + $okearoHeight + $hLineBoxSpacing +
  $lineBoxHeight;
$ajahLeft: $vStationBoxSpacing;
$ajahWidth: stationWidth(2);
$ajahHeight: stationHeight(3);
#ajah {
  @include station();

  top: $ajahTop;
  left: $ajahLeft;
  width: $ajahWidth;
  height: $ajahHeight;

  #ajah-n3j {
    @include line();
    @include lineBoxPosition(1, 2);
  }
  #ajah-n3j-h {
    @include hLine(lineBoxTop(1, 2), lineBoxLeft(1, 2), $lineBoxHeight);
    @include hr();

    width: ($hLineBoxSpacing * 2) + $hStationBoxSpacing;
  }

  #ajah-n4j {
    @include line();
    @include lineBoxPosition(2, 2);
  }
  #ajah-n4j-h {
    @include hLine(lineBoxTop(2, 2), lineBoxLeft(2, 2), $lineBoxHeight);
    @include hr();

    width: ($hLineBoxSpacing * 2) + $hStationBoxSpacing;
  }

  #ajah-j1e {
    @include line();
    @include lineBoxPosition(3, 2);
  }
  #ajah-j1e-h {
    @include hLine(lineBoxTop(3, 2), lineBoxLeft(3, 2), $lineBoxHeight);
    @include hr();

    width: ($hLineBoxSpacing * 3) + $hStationBoxSpacing + $lineBoxWidth +
      ($lineBoxWidth / 2);
  }

  #ajah-j1b {
    @include line();
    @include lineBoxPosition(3, 1);
  }
  #ajah-j1b-v {
    @include vLine(lineBoxTop(3, 1), lineBoxLeft(3, 1), $lineBoxHeight);
    @include vSpan();

    height: vLineHeight(1);
  }
}

$egbinTop: ($vStationBoxSpacing) + $okearoTop + $okearoHeight;
$egbinLeft: ($hStationBoxSpacing * 2) + $ajahWidth;
$egbinWidth: stationWidth(4);
$egbinHeight: stationHeight(3);
#egbin {
  @include station();

  top: $egbinTop;
  left: $egbinLeft;
  width: $egbinWidth;
  height: $egbinHeight;
  #egbin-n7k {
    @include line();
    @include lineBoxPosition(1, 1);
  }
  #egbin-n7k-v {
    @include vDownLine(lineBoxTop(4, 1), lineBoxLeft(4, 1), $lineBoxHeight);
    @include vSpan();

    height: vLineHeight(1) - 15;
  }
  #egbin-n8k {
    @include line();
    @include lineBoxPosition(1, 2);
  }
  #egbin-n8k-v {
    @include vDownLine(lineBoxTop(4, 2), lineBoxLeft(4, 2), $lineBoxHeight);
    @include vSpan();

    height: vLineHeight(2) - 18;
  }
  #egbin-n6w {
    @include line();
    @include lineBoxPosition(1, 3);
  }
  #egbin-b6n {
    @include line();
    @include lineBoxPosition(1, 4);
  }
  #egbin-n3j {
    @include line();
    @include lineBoxPosition(2, 1);
  }
  #egbin-n4j {
    @include line();
    @include lineBoxPosition(3, 1);
  }
}

$lekkiTop: ($vStationBoxSpacing) + $ajahTop + $ajahHeight;
$lekkiLeft: $ajahLeft + $ajahWidth + $hStationBoxSpacing;
$lekkiWidth: stationWidth(2);
$lekkiHeight: stationHeight(1);
#lekki {
  @include station();

  top: $lekkiTop;
  left: $lekkiLeft;
  height: $lekkiHeight;
  width: $lekkiWidth;

  #lekki-j1e {
    @include line();
    @include lineBoxPosition(1, 2);
  }
  #lekki-j1e-v {
    @include vDownLine2($lekkiHeight, lineBoxLeft(1, 2));
    @include vSpan();

    height: vLineHeight(1) - 15;
    //height: ($vLineBoxSpacing * 2) + $vStationBoxSpacing + ($lineBoxHeight/2) - 12;
  }

  #lekki-b1e {
    @include line();
    @include lineBoxPosition(1, 1);
  }
}

$alagbonTop: $lekkiTop;
$alagbonLeft: $ajahLeft;
$alagbonWidth: stationWidth(2);
$alagbonHeight: stationHeight(1);
#alagbon {
  @include station();

  top: $alagbonTop;
  left: $alagbonLeft;
  height: $alagbonHeight;
  width: $alagbonWidth;

  #alagbon-j1b {
    @include line();
    @include lineBoxPosition(1, 1);
  }

  #alagbon-b1e {
    @include line();
    @include lineBoxPosition(1, 2);
  }
  #alagbon-b1e-h {
    @include hLine(lineBoxTop(1, 2), lineBoxLeft(1, 2), $lineBoxHeight);
    @include hr();

    width: hLineWidth(1);
  }
}
