#sakete {
  position: absolute;
  border: medium solid #000;
  left: 50px;
  top: -30px;
  width: 310px;
  height: 310px;
}

#sakete #sakete-nw1 {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 30px;
  left: 30px;
}

#sakete #sakete-nw1-h {
  top: 155px;
  left: 280px;
  position: absolute;
  border: solid thin grey;
  width: 235px;
}

#akangba {
  position: absolute;
  border: medium solid #000;
  left: 50px;
  top: 330px;
  width: 310px;
  height: 590px;
}

#akangba #akangba-w3l {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 30px;
  left: 30px;
}

#akangba #akangba-w4l {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 311px;
  left: 30px;
}

#akangba #akangba-w3l-h {
  top: 155px;
  left: 280px;
  position: absolute;
  border: solid thin grey;
  width: 235px;
}

#akangba #akangba-w4l-h {
  top: 436px;
  left: 280px;
  position: absolute;
  border: solid thin grey;
  width: 235px;
}

#ikeja-west {
  position: absolute;
  border: medium solid #000;
  left: 410px;
  top: 50px;
  width: 1150px;
  height: 1150px;
}

#ikeja-west #ikejaW-nw1 {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 30px;
  left: 30px;
}

#ikeja-west #ikejaW-r1w {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 30px;
  left: 311px;
}

#ikeja-west #ikejaW-h1w {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 30px;
  left: 592px;
}

#ikeja-west #ikejaW-m5w {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 30px;
  left: 873px;
}

#ikeja-west #ikejaW-w3l {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 311px;
  left: 30px;
}

#ikeja-west #ikejaW-w4l {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 592px;
  left: 30px;
}

#ikeja-west #ikejaW-k8w {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 873px;
  left: 30px;
}

#ikeja-west #ikejaW-k7w {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 873px;
  left: 311px;
}

#ikeja-west #ikejaW-n6w {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 873px;
  left: 592px;
}

#ikeja-west #ikejaW-k8w-v {
  top: 1126px;
  left: 155px;
  position: absolute;
  border: thin solid grey;
  height: 238px;
}

#ikeja-west #ikejaW-k8w-v #ikejaW-k8w-v-arrow-down {
  position: absolute;
  top: 119px;
  left: -5px;
}

#ikeja-west #ikejaW-k8w-v #ikejaW-k8w-v-arrow-up {
  position: absolute;
  top: 119px;
  left: -5px;
}

#ikeja-west #ikejaW-k7w-v {
  top: 1126px;
  left: 436px;
  position: absolute;
  border: thin solid grey;
  height: 520px;
}

#okearo {
  position: absolute;
  border: medium solid #000;
  top: 1250px;
  left: 50px;
  width: 310px;
  height: 1150px;
}

#okearo #okearo-k8w {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 30px;
  left: 30px;
}

#okearo #okearo-k7w {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 311px;
  left: 30px;
}

#okearo #okearo-n8k {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 592px;
  left: 30px;
}

#okearo #okearo-n7k {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 873px;
  left: 30px;
}

#okearo #okearo-k8w-h {
  top: 155px;
  left: 280px;
  position: absolute;
  border: solid thin grey;
  width: 235px;
}

#okearo #okearo-k8w-v-arrow-right {
  position: absolute;
  left: 367.5px;
  top: 155px;
}

#okearo #okearo-k8w-v-arrow-left {
  position: absolute;
  left: 367.5px;
}

#okearo #okearo-k7w-h {
  top: 436px;
  left: 280px;
  position: absolute;
  border: solid thin grey;
  width: 515px;
}

#okearo #okearo-n8k-h {
  top: 717px;
  left: 280px;
  position: absolute;
  border: solid thin grey;
  width: 515px;
}

#okearo #okearo-n7k-h {
  top: 998px;
  left: 280px;
  position: absolute;
  border: solid thin grey;
  width: 235px;
}

#egbin {
  position: absolute;
  border: medium solid #000;
  top: 2450px;
  left: 410px;
  width: 1150px;
  height: 870px;
}

#egbin #egbin-n7k {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 30px;
  left: 30px;
}

#egbin #egbin-n7k-v {
  bottom: 840px;
  left: 155px;
  position: absolute;
  border: thin solid grey;
  height: 220px;
}

#egbin #egbin-n8k {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 30px;
  left: 311px;
}

#egbin #egbin-n8k-v {
  bottom: 840px;
  left: 436px;
  position: absolute;
  border: thin solid grey;
  height: 502px;
}

#egbin #egbin-n6w {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 30px;
  left: 592px;
}

#egbin #egbin-b6n {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 30px;
  left: 873px;
}

#egbin #egbin-n3j {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 311px;
  left: 30px;
}

#egbin #egbin-n4j {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 592px;
  left: 30px;
}
/*# sourceMappingURL=style.css.map */