#sakete {
  position: absolute;
  border: medium solid #000;
  left: 30px;
  top: -20px;
  width: 270px;
  height: 290px;
}

#sakete #sakete-nw1 {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 20px;
  left: 10px;
}

#sakete #sakete-nw1-h {
  top: 145px;
  left: 260px;
  position: absolute;
  width: 175px;
}

#akangba {
  position: absolute;
  border: medium solid #000;
  left: 30px;
  top: 300px;
  width: 270px;
  height: 560px;
}

#akangba #akangba-w3l {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 20px;
  left: 10px;
}

#akangba #akangba-w4l {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 291px;
  left: 10px;
}

#akangba #akangba-w3l-h {
  top: 145px;
  left: 260px;
  position: absolute;
  width: 175px;
}

#akangba #akangba-w4l-h {
  top: 416px;
  left: 260px;
  position: absolute;
  width: 175px;
}

#ikeja-west {
  position: absolute;
  border: medium solid #000;
  left: 330px;
  top: 30px;
  width: 1050px;
  height: 1100px;
}

#ikeja-west #ikejaW-nw1 {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 20px;
  left: 10px;
}

#ikeja-west #ikejaW-r1w {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 20px;
  left: 271px;
}

#ikeja-west #ikejaW-h1w {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 20px;
  left: 532px;
}

#ikeja-west #ikejaW-m5w {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 20px;
  left: 793px;
}

#ikeja-west #ikejaW-w3l {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 291px;
  left: 10px;
}

#ikeja-west #ikejaW-w4l {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 562px;
  left: 10px;
}

#ikeja-west #ikejaW-k7w {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 833px;
  left: 10px;
}

#ikeja-west #ikejaW-k7w-v {
  top: 1086px;
  left: 135px;
  position: absolute;
  border: thin solid grey;
  height: 198px;
}

#ikeja-west #ikejaW-k7w-v #ikejaW-k7w-v-arrow-down {
  position: absolute;
  top: 99px;
  left: -5px;
}

#ikeja-west #ikejaW-k7w-v #ikejaW-k7w-v-arrow-up {
  position: absolute;
  top: 99px;
  left: -5px;
}

#ikeja-west #ikejaW-k8w {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 833px;
  left: 271px;
}

#ikeja-west #ikejaW-k8w-v {
  top: 1086px;
  left: 396px;
  position: absolute;
  border: thin solid grey;
  height: 470px;
}

#ikeja-west #ikejaW-n6w {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 833px;
  left: 532px;
}

#ikeja-west #ikejaW-n6w-h {
  top: 958px;
  left: 782px;
  position: absolute;
  width: 83.33333px;
}

#ikeja-west #ikejaW-n6w-v {
  left: 865.33333px;
  top: 967px;
  position: absolute;
  border: thin solid grey;
  height: 1558px;
}

#okearo {
  position: absolute;
  border: medium solid #000;
  top: 1160px;
  left: 30px;
  width: 270px;
  height: 1100px;
}

#okearo #okearo-k7w {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 20px;
  left: 10px;
}

#okearo #okearo-k7w-h {
  top: 145px;
  left: 260px;
  position: absolute;
  width: 175px;
}

#okearo #okearo-k7w-v-arrow-right {
  position: absolute;
  left: 337.5px;
  top: 145px;
}

#okearo #okearo-k7w-v-arrow-left {
  position: absolute;
  left: 337.5px;
}

#okearo #okearo-k8w {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 291px;
  left: 10px;
}

#okearo #okearo-k8w-h {
  top: 416px;
  left: 260px;
  position: absolute;
  width: 435px;
}

#okearo #okearo-n8k {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 562px;
  left: 10px;
}

#okearo #okearo-n7k {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 833px;
  left: 10px;
}

#okearo #okearo-n8k-h {
  top: 687px;
  left: 260px;
  position: absolute;
  width: 695px;
}

#okearo #okearo-n7k-h {
  top: 958px;
  left: 260px;
  position: absolute;
  width: 435px;
}

#ajah {
  position: absolute;
  border: medium solid #000;
  top: 2550px;
  left: 30px;
  width: 530px;
  height: 830px;
}

#ajah #ajah-n3j {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 20px;
  left: 271px;
}

#ajah #ajah-n3j-h {
  top: 145px;
  left: 521px;
  position: absolute;
  width: 50px;
}

#ajah #ajah-n4j {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 291px;
  left: 271px;
}

#ajah #ajah-n4j-h {
  top: 416px;
  left: 521px;
  position: absolute;
  width: 50px;
}

#ajah #ajah-j1e {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 562px;
  left: 271px;
}

#ajah #ajah-j1e-h {
  top: 687px;
  left: 521px;
  position: absolute;
  width: 435px;
}

#ajah #ajah-j1b {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 562px;
  left: 10px;
}

#ajah #ajah-j1b-v {
  top: 815px;
  left: 135px;
  position: absolute;
  border: thin solid grey;
  height: 198px;
}

#egbin {
  position: absolute;
  border: medium solid #000;
  top: 2290px;
  left: 590px;
  width: 1050px;
  height: 830px;
}

#egbin #egbin-n7k {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 20px;
  left: 10px;
}

#egbin #egbin-n7k-v {
  bottom: 810px;
  left: 135px;
  position: absolute;
  border: thin solid grey;
  height: 183px;
}

#egbin #egbin-n8k {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 20px;
  left: 271px;
}

#egbin #egbin-n8k-v {
  bottom: 810px;
  left: 396px;
  position: absolute;
  border: thin solid grey;
  height: 452px;
}

#egbin #egbin-n6w {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 20px;
  left: 532px;
}

#egbin #egbin-b6n {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 20px;
  left: 793px;
}

#egbin #egbin-n3j {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 291px;
  left: 10px;
}

#egbin #egbin-n4j {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 562px;
  left: 10px;
}

#lekki {
  position: absolute;
  border: medium solid #000;
  top: 3410px;
  left: 590px;
  height: 290px;
  width: 530px;
}

#lekki #lekki-j1e {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 20px;
  left: 271px;
}

#lekki #lekki-j1e-v {
  bottom: 270px;
  left: 396px;
  position: absolute;
  border: thin solid grey;
  height: 183px;
}

#lekki #lekki-b1e {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 20px;
  left: 10px;
}

#alagbon {
  position: absolute;
  border: medium solid #000;
  top: 3410px;
  left: 30px;
  height: 290px;
  width: 530px;
}

#alagbon #alagbon-j1b {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 20px;
  left: 10px;
}

#alagbon #alagbon-b1e {
  position: absolute;
  border: thin solid #000;
  width: 250px;
  height: 250px;
  top: 20px;
  left: 271px;
}

#alagbon #alagbon-b1e-h {
  top: 145px;
  left: 521px;
  position: absolute;
  width: 175px;
}
/*# sourceMappingURL=style.css.map */